<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"
          media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{image/favicon.ico}" href="../static/image/favicon.ico"/>
    <title>汽车租赁管理系统</title>
</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="manager_user.html" th:href="@{/manager_user}">用户管理</a></li>
    <li role="presentation" class="active"><a href="manager_car.html" th:href="@{/manager_car}">车辆管理</a></li>
    <li role="presentation"><a href="manager_shop.html" th:href="@{/manager_shop}">店铺管理</a></li>
    <li role="presentation"><a href="manager_order.html" th:href="@{/manager_order}">订单管理</a></li>
    <li role="presentation"><a href="manager_feedback.html" th:href="@{/manager_feedback}">投诉管理</a></li>
    <li role="presentation"><a href="manager_system.html" th:href="@{/manager_system}">系统管理</a></li>
    <li>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" class="btn btn-default" value="登出"/>
        </form>
    </li>
</ul>

<div class="edit_width">
    <form th:action="@{/addCar}" method="post">
        <div class="form-group">

            <label>车牌号:</label>
            <input type="text" class="form-control" placeholder="请输入车牌号" name="carNumber"/>
        </div>

        <div class="form-group">
            <label>车型:</label>
            <input type="text" class="form-control" placeholder="请输入车型" name="carType"/>
        </div>

        <div class="form-group">
            <label>所在店铺:</label>
            <input type="text" class="form-control" placeholder="请输入车辆所在店铺名称" name="shopName"/>
        </div>

        <div class="form-group">
            <label>车状态:</label>
            <input type="text" class="form-control" placeholder="请输入车的状态" name="carStatus"/>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="isRental"/> 已出租
            </label>
        </div>

        <input type="submit" class="btn btn-default" value="确定添加" />
    </form>
</div>


</body>
</html>
