<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<title>汽车租赁管理系统</title>
</head>
<body>

<ul class="nav nav-tabs">
	  <li role="presentation"><a href="manager_user.html">用户管理</a></li>
	  <li role="presentation"><a href="manager_car.html">车辆管理</a></li>
	  <li role="presentation" ><a href="manager_shop.html">店铺管理</a></li>
	  <li role="presentation"><a href="manager_order.html">订单管理</a></li>
	  <li role="presentation"   class="active"><a href="manager_feedback.html">投诉管理</a></li>
	  <li role="presentation"><a href="manager_system.html">系统管理</a></li>
</ul>

<div class="edit_width">
	<form>

		<ul class="list-group">
		  <li class="list-group-item">投诉单号 : <span> 111111112222222</span></li>
		  <li class="list-group-item">用户姓名 : <span> 墨墨向北</span></li>
		  <li class="list-group-item">投诉时间 : <span> 2015-12-1</span></li>
		</ul>

	  

		<div class="panel panel-primary">
		    <div class="panel-heading">投诉内容: </div>
		    <div class="panel-body"> 车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了车问题太多了</div>
		</div>

		
	  	<div class="checkbox">
	    	<label>
	      	<input type="checkbox"> 已处理
	    	</label>
	    </div>

	  <button type="submit" class="btn btn-primary">确定更改</button>
	</form>
</div>



</body>
</html>
