<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<title>汽车租赁管理系统</title>
</head>
<body>

<ul class="nav nav-tabs">
	  <li role="presentation"  class="active"><a href="manager_user.html">用户管理</a></li>
	  <li role="presentation" ><a href="manager_car.html">车辆管理</a></li>
	  <li role="presentation"><a href="manager_shop.html">店铺管理</a></li>
	  <li role="presentation"><a href="manager_order.html">订单管理</a></li>
	  <li role="presentation" ><a href="manager_feedback.html">投诉管理</a></li>
	  <li role="presentation"><a href="manager_system.html">系统管理</a></li>
</ul>


<form class="search_width">
	<div class="input-group">
      <input type="text" class="form-control" placeholder="搜索关键字: 用户名/手机号">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">搜索</button>
      </span>
    </div>
</form>

<div class="count_width">
	<div class="panel panel-primary">
	  <div class="panel-body text-center">统计数据</div>
	  <div class="panel-footer text-center">目前共有 <strong> 1320 </strong> 名用户</div>
	</div>
</div>

<div class="user_table_width">
	<table class="table table-hover text-center">
	   <thead>
	      <tr>
	         <th class="text-center">用户名</th>
	         <th class="text-center">手机号</th>
	         <th class="text-center">证件类型</th>
	         <th class="text-center">证件号</th>
	         <th class="text-center">租车状态</th>
	         <th class="text-center">注册时间</th>
	         <th class="text-center">信用等级</th>
	      </tr>
	   </thead>
	   <tbody>
	      <tr>
	         <td>王雪莹</td>
	         <td>13732245162</td>
	         <td>身份证</td>
	         <td>230708199306210020</td>
	         <td>未租车</td>
	         <td>2015-1-1</td>
	         <td>10</td>
	      </tr>
	      <tr>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td>560001</td>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td>560001</td>
	         <td>560001</td>
	      </tr>
	      <tr>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td>560001</td>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td>560001</td>
	         <td>560001</td>
	      </tr>
	   </tbody>
	</table>
</div>



</body>
</html>