<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"
          media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{image/favicon.ico}" href="../static/image/favicon.ico"/>
    <title>汽车租赁管理系统</title>
</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="manager_user.html" th:href="@{/manager_user}">用户管理</a></li>
    <li role="presentation" class="active"><a href="manager_car.html" th:href="@{/manager_car}">车辆管理</a></li>
    <li role="presentation"><a href="manager_shop.html" th:href="@{/manager_shop}">店铺管理</a></li>
    <li role="presentation"><a href="manager_order.html" th:href="@{/manager_order}">订单管理</a></li>
    <li role="presentation"><a href="manager_feedback.html" th:href="@{/manager_feedback}">投诉管理</a></li>
    <li role="presentation"><a href="manager_system.html" th:href="@{/manager_system}">系统管理</a></li>
    <li>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" class="btn btn-default" value="登出"/>
        </form>
    </li>
</ul>


<form class="search_width">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="搜索关键字: 车牌号/车型/所在店铺"/>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">搜索</button>
      </span>
    </div>
</form>

<div class="count_width">
    <div class="panel panel-primary">
        <div class="panel-body text-center">统计数据</div>
        <div class="panel-footer text-center">目前共有 <strong> 1320 </strong> 辆车</div>
    </div>
</div>


<div class="car_table_width">

    <div class="car_add add">
        <img src="../static/image/add.png" th:src="@{image/add.png}"/>
        <a href="add_car.html" th:href="@{/add_car}">添加</a>
    </div>

    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th class="text-center">车牌号</th>
            <th class="text-center">车型</th>
            <th class="text-center">所在店铺</th>
            <th class="text-center">是否被租</th>
            <th class="text-center">车辆状况</th>
            <th class="text-center">修改信息</th>
            <th class="text-center">删除车辆</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>浙123456</td>
            <td>福特科斯特</td>
            <td>杭州江干区下沙新雁公寓</td>
            <td>是</td>
            <td>良好</td>
            <td><a href="edit_car.html" th:href="@{/edit_car}"><img src="../static/image/edit.png"
                                                                    th:src="@{image/edit.png}"/></a></td>
            <td><a href="" th:href="@{/#}"><img src="../static/image/delete.png" th:src="@{image/delete.png}"/></a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
