<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<title>汽车租赁管理系统</title>
</head>
<body>

<ul class="nav nav-tabs">
	  <li role="presentation"><a href="manager_user.html">用户管理</a></li>
	  <li role="presentation"  class="active"><a href="manager_car.html">车辆管理</a></li>
	  <li role="presentation" ><a href="manager_shop.html">店铺管理</a></li>
	  <li role="presentation"><a href="manager_order.html">订单管理</a></li>
	  <li role="presentation" ><a href="manager_feedback.html">投诉管理</a></li>
	  <li role="presentation"><a href="manager_system.html">系统管理</a></li>
</ul>


<form class="search_width">
	<div class="input-group">
      <input type="text" class="form-control" placeholder="搜索关键字: 车牌号/车型/所在店铺">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">搜索</button>
      </span>
    </div>
</form>

<div class="count_width">
	<div class="panel panel-primary">
	  <div class="panel-body text-center">统计数据</div>
	  <div class="panel-footer text-center">目前共有 <strong> 1320 </strong> 辆车</div>
	</div>
</div>



<div class="car_table_width">

	<div class="car_add add">
		<img src="img/add.png">
		<a href="add_car.html">添加</a>
	</div>

	<table class="table table-hover text-center">
	   <thead>
	      <tr>
	         <th class="text-center">车牌号</th>
	         <th class="text-center">车型</th>
	         <th class="text-center">所在店铺</th>
	         <th class="text-center">是否被租</th>
	         <th class="text-center">车辆状况</th>
	         <th class="text-center">修改信息</th>
	         <th class="text-center">删除车辆</th>
	      </tr>
	   </thead>
	   <tbody>
	      <tr>
	         <td>浙123456</td>
	         <td>福特科斯特</td>
	         <td>杭州江干区下沙新雁公寓</td>
	         <td>是</td>
	         <td>良好</td>
	         <td><a href="edit_car.html"><img src="img/edit.png"></a></td>
	         <td><a href=""><img src="img/delete.png"></a></td>
	      </tr>
	      <tr>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td>560001</td>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td><a href="edit_car.html"><img src="img/edit.png"></a></td>
	         <td><a href=""><img src="img/delete.png"></a></td>
	      </tr>
	      <tr>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td>560001</td>
	         <td>Tanmay</td>
	         <td>Bangalore</td>
	         <td><a href="edit_car.html"><img src="img/edit.png"></a></td>
	         <td><a href=""><img src="img/delete.png"></a></td>
	      </tr>
	   </tbody>
	</table>
</div>



</body>
</html>
