<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"
          media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{image/favicon.ico}" href="../static/image/favicon.ico"/>
    <title>汽车租赁管理系统</title>
</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="manager_user.html" th:href="@{/manager_user}">用户管理</a></li>
    <li role="presentation"><a href="manager_car.html" th:href="@{/manager_car}">车辆管理</a></li>
    <li role="presentation" class="active"><a href="manager_shop.html" th:href="@{/manager_shop}">店铺管理</a></li>
    <li role="presentation"><a href="manager_order.html" th:href="@{/manager_order}">订单管理</a></li>
    <li role="presentation"><a href="manager_feedback.html" th:href="@{/manager_feedback}">投诉管理</a></li>
    <li role="presentation"><a href="manager_system.html" th:href="@{/manager_system}">系统管理</a></li>
    <li>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" class="btn btn-default" value="登出"/>
        </form>
    </li>
</ul>


<form class="search_width">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="搜索关键字: 店铺名称/店铺地址" name="keyWord"/>
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="搜索" />
      </span>
    </div>
</form>

<div class="count_width">
    <div class="panel panel-primary">
        <div class="panel-body text-center">统计数据</div>
        <div class="panel-footer text-center">目前共有 <strong th:text="${shopCount}"> 0 </strong> 个门店</div>
    </div>
</div>

<div th:if="${success} == false">
    <strong>添加失败</strong>
</div>

<div class="shop_table_width">

    <div class="add shop_add">
        <img src="../static/image/add.png" th:src="@{image/add.png}"/>
        <a href="add_shop.html" th:href="@{/add_shop}">添加</a>
    </div>

    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">店铺名称</th>
            <th class="text-center">店铺地址</th>
            <th class="text-center">修改店铺信息</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shop : ${shops}">
            <td th:text="${shop.id}"></td>
            <td th:text="${shop.shopName}"></td>
            <td th:text="${shop.position}"></td>
            <td><a href="edit_shop.html" th:href="@{/edit_shop(id=${shop.id})}"><img src="../static/image/edit.png"
                                                                      th:src="@{image/edit.png}"/></a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
