body{
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
}


/*-------------------- children_public --------------------*/

.search_width{
	width: 500px;
	padding-top: 40px;
	padding-bottom: 60px;
	margin: 0 auto;
}
.count_width{
	width: 200px;
	float: right;
	margin-right: 70px;
	margin-top: -100px;
}
.add a{
	color: #5bc0de;
	font-weight: bold;
}
.add a:hover{
	text-decoration: none;
	color: #000000;
}

.edit_width{
	width: 500px;
	margin: 0 auto;
	padding-top: 100px;
}
.checkbox{
	padding: 10px;
}
/*-------------------- manager_user----------------------*/
.user_table_width{
	width: 1100px;
	margin: 0 auto;
	border: 1px solid #dddddd;
}

/*-------------------- manager_car  ----------------------*/
.car_table_width{
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #dddddd;
}
.car_add{
	float: right;
	margin-right: 20px;
	margin-top: -40px;
	margin-bottom: 20px;
	border: 1px solid #5bc0de;
	border-radius: 6px;
	padding: 5px 15px;
}
/*-------------------- manager_shop  ----------------------*/
.shop_table_width{
	width: 600px;
	margin: 0 auto;
	border: 1px solid #dddddd;
}
.shop_add{
	float: right;
	margin-right: 20px;
	margin-top: -40px;
	margin-bottom: 20px;
	border: 1px solid #5bc0de;
	border-radius: 6px;
	padding: 5px 15px;
}
/*-------------------- manager_order edit_order ----------------------*/
.order_table_width{
	width: 1250px;
	margin: 0 auto;
	border: 1px solid #dddddd;
}

.edit_button_margin{
	margin-left: 30px;
	padding-top: 10px;
}

/*-------------------- manager_feedback----------------------*/
.feedback_table_width{
	width: 800px;
	margin: 0 auto;
	border: 1px solid #dddddd;
}

/*-------------------- manager_system----------------------*/
.system_table_width{
    width: 300px;
	margin: 0 auto;
	padding-top: 150px;
}
.system_chage_pwd{
	padding: 10px;
}
/*--------------------index(login)-----------------------------*/

.form-horizontal{
	width: 620px;
	margin: 0 auto;
	margin-top: 200px;
	border: 1px solid #336699;
	border-radius: 6px;
	padding: 100px;
}

.index{
	width: 200px;
}